<div class="card my-3 px-4 container p-3" style="max-width: 80%;" *ngIf="actividad">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{actividad.titulo}}</h5>
        <p class="card-text">{{actividad.descripcion}}</p>
        <p class="card-text"> Horario: {{actividad.horario_nombre}}</p>
        <p class="card-text">{{actividad.precio}}€</p>
        <p class="card-text">{{actividad.resumen}}</p>

        <div>
          <a [routerLink]="['/actividades']">Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="my-5 text-center">Opiniones sobre la actividad</h2>
<div class="row text-center">
  <app-opiniones *ngFor="let opinion of listadoOpiniones" [titulo]="opinion.titulo" [nombre]="opinion.nombre"
    [apellidos]="opinion.apellidos" [puntuacion]="opinion.puntuacion" [opinionTexto]="opinion.opinion"
    class="col-12 col-md-4"></app-opiniones>
</div>