<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <input class="btn btn-primary" type="submit" value="Acceder">
  </form>
  <div *ngIf="hasError">
    <p>Error en usuario y/o contraseña</p>
  </div>
</div>